.forecastToday {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 8px;
}

header {
    background: rgb(53, 53, 53);
    color: white;
    text-align: center;
    font-size: 40px;
}

.sidebar {
    background: rgb(216, 216, 216);
}

.search {
    font-size: 25px;
}

li {
    cursor: pointer;
}